[submodule "PlotSvg"]
	path = PlotSvg
	url = https://github.com/BacheyG/cpp-plot-svg
	branch = main
[submodule "Vector"]
	path = Vector
	url = https://github.com/BacheyG/cpp-vector.git
	branch = main
